
{% block content%}

<div class="intro-container">
    <div class="detail-container">
        <div class="photo-container">
            <div class="img-wrapper">
                <img src="/static/img/IMG_6317.jpg" alt="homeimage">
            </div>
        </div>
        <div class="contact-details">
            <div class="contact-item">
                <i class='bx bx-home-heart'></i>
                <small><b>Location:</b> Christchurch</small><br>
            </div>
            <div class="contact-item">
                <i class='bx bx-envelope'></i>
                <small><b>Email me:</b> <a href="mailto:carolsonghb@gmail.com"
                        class="email-link">carolsonghb@gmail.com</a></small><br>
            </div>
            <div class="contact-item">
                <i class='bx bx-phone-call'></i>
                <small><b>Call me:</b> <a href="tel:+642041960051" class="phone-number">+64
                        2041960051</a></small><br>
            </div>
        </div>
    </div>

    <div class="introduction">
        <div class="intro-words">
            <h3 style="font-style: italic; margin-bottom: 8%; color: #8c638c;">"Hi, this is Carol."</h3>
            <p class="statement">
                I'm studying <b>Master of Applied Computing</b> at <i>Lincoln University</i> and
                will be graduating in November 2023. <br>I have a passion for <b>Website Design and Development</b>,
                and I am looking forward to joining a place that allows me to contribute my programming ideas and
                skills.
                <br>I have a passion for <b>Website Design and Development</b>,
                and I am looking forward to joining a place that allows me to contribute my programming ideas and
                skills.
                <br>I have a passion for <b>Website Design and Development</b>,
                and I am looking forward to joining a place that allows me to contribute my programming ideas and
                skills.
            </p>
        </div>
        <div class="contact-icon">
            <a href="https://www.linkedin.com/in/haibei-carolsong/" target="_blank">
                <i class="bx bxl-linkedin-square"></i>
            </a>
            <a href="https://github.com/CarolSonghb" target="_blank">
                <i class='bx bxl-github'></i>
            </a>
            <a href="https://www.instagram.com/_whatcarolsees/" target="_blank">
                <i class='bx bxl-instagram-alt'></i>
            </a>
        </div>

    </div>
</div>
<hr>

{% endblock %}