{% block content%}
<label style="font-size: 1px;">section4</label>
<h2 class="section-title" style="margin: 15% auto 0 10%;">ESSENTIAL SKILLS</h2>
<div class="work-detail">
    <div class="work-title">
        <p><b>Programming Languages</b> - Python, SQL, Jinja, Flask, HTML, JavaScript, CSS, Cloud Computing
        </p>
        <p><b>Multilingual</b> - Native Mandarin speaker, fluent in both spoken and written English, intermediate level
            of Japanese
        </p>
        <p><b>Soft Skills</b> - Fast learner | Team player | Great listener and communicator | Time management expert |
            Problem solver | <br>
            <span style="margin-left: 10%;">Creative content creator</span>
        </p>
    </div>
</div>

<h2 class="section-title" style="margin: 8% auto 0 10%;">EDUCATION</h2>
<div class="education-detail" style="margin: 5% 15% 10% 15%;">
    <div class="other-jobs" style="margin-left: 5%;">
        <p>Lincoln University / Master of Applied Computing
            <span style="font-size: 15px; margin-left: 5%;">11/2022 - 11/2023</span>
        </p>
        <p>Amazon Web Services / AWS Certified Cloud Practitioner
            <span style="font-size: 15px; margin-left: 5%;">04/2023</span>
        </p>
        <p>New Zealand Tertiary Collage / Graduate Diploma in Teaching
            <span style="font-size: 15px; margin-left: 5%;">8/2019 - 10/2020</span>
        </p>
        <p>Hangzhou Normal University / Musical Education
            <span style="font-size: 15px; margin-left: 5%;">09/2010 - 06/2014</span>
        </p>
    </div>
</div>


<hr>

{% endblock %}