

{% block content%}
<label style="font-size: 1px;">section2</label>
<h2 class="section-title" style="margin: 15% auto 0 10%;">WORK EXPERIENCE</h2>
<div class="work-detail">
    <div class="work-title">
        <p><b>Web Deisgner and Developer</b> / Student at Lincoln University
            <span style="font-size: 15px; margin-left: 5%;">11/2022 - 11/2023</span>
            <span class="button"><a href="#section3">Check out Projects</a></span>
        </p>
        <p>I have gained valuable experience working on projects where I utilised <b>Python, SQL,
            Jinja, Flask, HTML, JavaScript, and CSS</b>. This has allowed me to develop strong backend and
            frontend skills, with a specific focus on designing user-friendly web applications.
        </p>
    </div>
    <div class="other-work" style="margin-top: 5%; margin-bottom: 5%;">
        <b style="color: rgb(104, 101, 101);">Other Work Experiences:</b>
        <div class="other-jobs" style="margin-left: 5%; margin-top: 2%;">
            <p>Preschool Teacher / New Zealand
                <span style="font-size: 15px; margin-left: 5%;">10/2020 - Present</span>
            </p>
            <p>Hospitality (Bartenter, Barista) / New Zealand
                <span style="font-size: 15px; margin-left: 5%;">10/2019 - Present</span>
            </p>
            <p>Pet Sitter / New Zealand
                <span style="font-size: 15px; margin-left: 5%;">11/2022 - Present</span>
            </p>
            <p>Administrative Assistant / China
                <span style="font-size: 15px; margin-left: 7%;">07/2014 - 05/2019</span>
            </p>
            <p>Piano Teacher / China
                <span style="font-size: 15px; margin-left: 7%;">01/2011 - 08/2019</span>
            </p>
        </div>
    </div>
</div>


<hr>

{% endblock %}