{% block content%}
<label style="font-size: 1px;">section5</label>
<div class="more-container" style="display: flex; align-items: center; margin: 10% auto 0 10%;">
    <h2 class="photog-title">PHOTOGRAPHY GALLERY</h2>
    <a href="https://unsplash.com/@carolsong" target="_blank" >
        <span>More Photos
            <i class='bx bx-right-arrow-alt'></i></span>
        </a>
</div>


<div class="slider">
    <img src="https://images.unsplash.com/photo-1647118162538-d45d10d5bdbf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80"
        class="slide" />
    <img src="https://images.unsplash.com/photo-1647340205957-46f5dcefab72?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80"
        class="slide" />
    <img src="https://images.unsplash.com/photo-1648249905371-9723974bb2b9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80"
        class="slide" />

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusDivs(-1)">&#10094;</a>
    <a class="next" onclick="plusDivs(+1)">&#10095;</a>
</div>


<br>

<div class="end-container">
    <h2 class="site-title">
        Thank you for reading it through
        <i class='bx bx-right-arrow-alt'></i>
    </h2>
    <span class="button"><a href="#section1">Get in Touch</a></span>
</div>


{% endblock %}