

{% block content%}
<label style="font-size: 1px;">section3</label>
<h2 style="margin: 15% auto 0 10%;">PROJECT LIST</h2>
<div class="project-container">
    <div class="project-detail">
        <a href="https://github.com/CarolSonghb/636libraryweb" target="_blank">
            <img src="/static/img/library.png" alt="projectimg" class="projectimg">
        </a>
        <p class="project-title">Library System</p>
    </div>
    <div class="project-detail">
        <a href="https://github.com/CarolSonghb/Gym-System" target="_blank">
            <img src="/static/img/gym.png" alt="projectimg" class="projectimg">
        </a>
        <p class="project-title">Gym System</p>
    </div>
    <div class="project-detail">
        <a href="https://github.com/CarolSonghb/Placement-System" target="_blank">
            <img src="/static/img/IPPS.png" alt="projectimg" class="projectimg">
        </a>
        <p class="project-title">Placement System
            <br><span>(In Progress)</span>
        </p>
        
    </div>
</div>
<hr>

{% endblock %}